<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.6.1"/>
    <httpRuntime targetFramework="4.6.1"/>
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.7.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.7.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>
	
  <connectionStrings>
	<add name="dbconnection" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\Database.mdb" providerName="System.Data.OleDb"/> 
  </connectionStrings>
	
  <system.serviceModel>
    <behaviors>
      <endpointBehaviors>
        <behavior name="HobbyShop.CONTROLLER.ModelControllerAspNetAjaxBehavior">
          <enableWebScript />
        </behavior>
        <behavior name="HobbyShop.CONTROLLER.SaleControllerAspNetAjaxBehavior">
          <enableWebScript />
        </behavior>
        <behavior name="HobbyShop.CONTROLLER.UserControllerAspNetAjaxBehavior">
          <enableWebScript />
        </behavior>
        <behavior name="HobbyShop.CONTROLLER.DeliveryControllerAspNetAjaxBehavior">
          <enableWebScript />
        </behavior>
        <behavior name="HobbyShop.CONTROLLER.StoreControllerAspNetAjaxBehavior">
          <enableWebScript />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true"
      multipleSiteBindingsEnabled="true" />
    <services>
      <service name="HobbyShop.CONTROLLER.ModelController">
        <endpoint address="" behaviorConfiguration="HobbyShop.CONTROLLER.ModelControllerAspNetAjaxBehavior"
          binding="webHttpBinding" contract="HobbyShop.CONTROLLER.ModelController" />
      </service>
      <service name="HobbyShop.CONTROLLER.SaleController">
        <endpoint address="" behaviorConfiguration="HobbyShop.CONTROLLER.SaleControllerAspNetAjaxBehavior"
          binding="webHttpBinding" contract="HobbyShop.CONTROLLER.SaleController" />
      </service>
      <service name="HobbyShop.CONTROLLER.UserController">
        <endpoint address="" behaviorConfiguration="HobbyShop.CONTROLLER.UserControllerAspNetAjaxBehavior"
          binding="webHttpBinding" contract="HobbyShop.CONTROLLER.UserController" />
      </service>
      <service name="HobbyShop.CONTROLLER.DeliveryController">
        <endpoint address="" behaviorConfiguration="HobbyShop.CONTROLLER.DeliveryControllerAspNetAjaxBehavior"
          binding="webHttpBinding" contract="HobbyShop.CONTROLLER.DeliveryController" />
      </service>
      <service name="HobbyShop.CONTROLLER.StoreController">
        <endpoint address="" behaviorConfiguration="HobbyShop.CONTROLLER.StoreControllerAspNetAjaxBehavior"
          binding="webHttpBinding" contract="HobbyShop.CONTROLLER.StoreController" />
      </service>
    </services>
  </system.serviceModel>
</configuration>