#detailContainer {
    position: absolute;
    top: 0;
    left: calc(25% + 3px);
    width: calc(75% - 3px);
    height: 100%;
    line-height: 100%;
    display: flex;
    flex-direction: column;
}
#detailHeading{
    margin:10px;
}
#detailTabBar {
    visibility: hidden;
    position:absolute;
    top:30px;
    width:100%;
    display:flex;
    flex-direction:row;
    border-bottom: 3px solid #000000;
    overflow-x:auto;
}
.detailtab {
    background-color: #ffffff;
    border-top: 10px solid #ffffff;
    border-right: 10px solid #ffffff;
    border-left: 10px solid #ffffff;
    color: #000000;
}
.detailTabContent {
    position: absolute;
    top: 80px;
    left: 0px;
    height:calc(100% - 100px);
    display: flex;
    flex-direction: column;
    margin: 10px;
    visibility: hidden;
    width: calc(100% - 20px);
}
.noTabs {
    top: 20px;
    left: 0px;
}
#details {
    margin: 10px;
}
#details input, #details textarea, #details input:disabled, #details textarea:disabled, #details select, #details select:disabled{
    position: relative;
    display: inline-block;
    width: calc(100% - 4px);
    margin-left:-1px;
    font-size:16px;
    background-color: white;
    color: black;
}
#details textarea, #details textarea:disabled {
    overflow-y:scroll;
    width: calc(100% - 4px);
    font-family:Verdana;
    resize:none;
}
#details textarea, #details input, #details select {
    border:1px solid black;
}
#details textarea:disabled, #details input:disabled, #details select:disabled{
    border:0;
}
#detailTable {
    border-collapse: collapse;
    width: 100%;
    border: 0;
}
#firstcell {
    width:25%;
}
.firstcell {
    width:25%;
}
#detailTable td {
    vertical-align: top;
    border: 0;
}

.leftButton {
    visibility: hidden;
}
#addBar input{
    width:calc(100% - 34px);
    border:1px solid black;
    height:28px;
}
#leftButton, #addRecordButton {
    visibility: hidden;
}
#addInventory {
    width: 100%;
}
#rightButton {
    float: right;
    visibility: hidden; /**/
}
#detailOptions {
    position:absolute;
    top:10px;
    right:10px;
    visibility:hidden;
    z-index:10;
}
.dropdown {
    position: relative;
    display: inline-block;
    margin: -3px 0px -3px 0px;
    margin-top: -5px;
}

.dropdown-content {
    display: none;
    position: absolute;
    right:0;
    left: auto;
    background-color: black;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-button {
    background-color:#444444;
    width:100%;
    text-decoration: none;
    display: block;
    border:1px solid black;
    color:white;
}
.dropdown-button:hover {
    background-color: #666666;
    border:1px solid white;
}
.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown:hover .dropbtn {
    background-color: #cccccc;
}