#detailContainer {
    position: absolute;
    top: 0;
    left: calc(25% + 3px);
    display: flex;
    width: calc(75% - 3px);
    height: 100%;
    line-height:100%;
}
#detailHeading{
    margin:10px;
}
#detailTabBar {
    visibility: hidden;
    margin:0;
    border-bottom: 3px solid #000000;
}
.detailtab {
    background-color: #ffffff;
    border-top: 10px solid #ffffff;
    border-right: 10px solid #ffffff;
    border-left: 10px solid #ffffff;
    color: #000000;
}
#details {
    margin: 10px;
}
#details input, #details textarea {
    position: relative;
    display: inline-block;
    width:100%;
    font-size:16px;
    border:0;
    background-color: white;
    color: black;
}
#details textarea {
    overflow-y:scroll;
    font-family:Verdana;
    resize:none;
    background-color: white;
    color: black;
}
#detailTable {
    border-collapse: collapse;
    width: 100%;
    border: 0;
    visibility:hidden;
}
#firstcell {
    width:25%;
}
#detailTable td {
    vertical-align: top;
    border: 0;
}

#leftButton {
    visibility:hidden;
}
/**/
#rightButton {
    float: right;
    visibility: hidden; /**/
}
#detailOptions {
    position:absolute;
    top:10px;
    right:10px;
    visibility:hidden;
}
.dropdown {
    position: relative;
    display: inline-block;
    margin: -3px 0px -3px 0px
}
.dropdown-content {
    display: none;
    position: absolute;
    right:0;
    left: auto;
    background-color: black;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-button {
    background-color:#444444;
    width:100%;
    text-decoration: none;
    display: block;
    border:1px solid black;
    color:white;
}
.dropdown-button:hover {
    background-color: #666666;
    border:1px solid white;
}
.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown:hover .dropbtn {
    background-color: #cccccc;
}