.userInput, .itemInput {
    background-color: white;
    color: black;
    width: 70px;
}

#error {
    color: red;
    font-style: italic;
}

#sale {
    background-color: white;
    /*background-color: white;-----lightgray*/
}

.readonly {
    background-color:lightgray;
}