body {
    background-color: white;
	font-family: "Verdana";
}

/*Header bar contents*/
#header {
    position: absolute;
    left: 0px;
    top: 0px;
    height: 50px;
    line-height: 50px;
    width:100%;
    background-color: #00007f;
    color: #ffffff;
}
#header .tab, #header .activeTab {
	width:90px;
	height:50px;
    font-size: 16px;
	background-color: #00007f;
	color: #ffffff;
	border:0px;
    margin-top:0px;
    margin-right:10px;
}
#header .tab:hover {
	border-bottom:10px solid #0000ff;
}
#header .activeTab {
    border-bottom:10px solid #000044;
}
#models {
    margin-left:30px;
}   

/* Main table content */
.heading2 {
    font-size: 18px;
}
#mainContent {
    position: absolute;
    top: 50px;
    left: 0px;
    width: 100%;
    height: calc(100% - 50px);
    border-spacing: 0;
}
#mainContent td {
    border:2px solid black;
}
#leftcol {
    width: 25%;
    height: calc(100% - 6px);
    position:absolute;
    display: flex;
    flex-direction: column;
    background-color:black;
}
#searchHead {
    width:100%;
}
#searchBar {
    width:100%;
    height:30px;
}
#searchBtn {
    background-color: #aaaaaa;
    padding:5px;
    border:0;
}
#searchBtn:hover {
    background-color: #cccccc;
}
#searchDrpdwn {
    margin-right:2px;
}
#searchDrpdwn button {
    padding: 0px 7px 11px 7px;
}
.listItem {
    width: 100%;
    font-size: 16px;
    text-align: left;
    height: 50px;  
}
.scrollable {
    overflow-y: auto;
}
#rightcol {
    position:absolute;
    width: calc(75% - 6px);
    height: calc(100% - 6px);
    left:25%;
    background-color:white;
}
#detailHeading{
    margin:5px;
}
#details {
    margin:10px;
}
#details br{
    margin-top: 10px;
}
#details input, #details textarea {
    position: relative;
    display: inline-block;
    width:100%;
    float:right;
    margin-bottom:10px;
    border-radius:3px;
    border:1px solid grey;
}
#details textarea {
    resize:none;
    overflow-y: scroll;
}
#detailTable {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid black;
}
#detailTable td {
    border: 1px solid black;
}
#results {
    position:absolute;
    display:none;
    left:0;
    right:0;
    top:100px;
    margin-left:auto;
    margin-right:auto;
    height:50px;
    width:200px;
    background-color:white;
    border:solid black 1px;
    border-radius:3px;
}

/* Dropdown menu */
.dropbtn {
    background-color: #aaaaaa;
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
}
.dropdown {
    position: relative;
    display: inline-block;
    float: right;
    margin: -3px 0px -3px 0px
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content input {
    color: black;
    width:100%;
    text-decoration: none;
    display: block;
}
.dropdown-content input:hover {
    background-color: #f1f1f1
}
.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown:hover .dropbtn {
    background-color: #cccccc;
}

/* Footer (copywrite) */
footer {
	text-align: left;
	position: fixed;
	bottom: 0;
	left:0;
}